@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(40, 168, 57);
}
adark {
  color: white;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: white;
 color: black;
}
.bdark {
 background-color: black;
 color: white;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}
h1 {
  margin-bottom: 0.5rem;
}
bb {
  font-weight: bolder;
}
bb2 {
  font-weight: bolder;
  font-size: 300%;
}
bb3 {
  font-weight: bolder;
  font-size: 200%;
}
bb4 {
  font-weight: bolder;
  font-size: 150%;
}
button {
  color: transparent;
  background: transparent;
  text-decoration: none;
  border: none;
  outline: none;
}
stopka {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
}
.sdark {
  background: rgb(92, 92, 92);
  color: rgb(0, 0, 0);
}
.fix {
  display: block;
}
.logo {
  height: 1.3cm;
}
.ikona {
  height: 0.7cm;
}
.ii {
  text-align: center;
  display: block;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
  }
  .containera {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem 0;
  }
  .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15rem auto;
    height: 15rem auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
  }
  .card_list {
    display: flex;
    align-items: normal;
    flex-direction: column;
    width: 15rem;
    height: 15rem auto;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;
  }
  .card--avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card--title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 0.5rem;
  }
  .card--link {
    text-decoration: none;
    background: #207c04;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    
  }
  .center_small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .Duzy {
    font-size: 150%;
  }
  .l {
    text-align: left;
  }
  .icon {
    max-width: 1cm;
    height: auto;
  }
  b. {
    text-decoration: none;
    font-weight: bold;
  }
  
  
