@font-face {
    font-family: clean;
    src: url("/czcionki/Lovelo-Black.woff2");
}

:root {
    --font-color:#fff;
    --background-color:#0E0E0E;
    --border-color: #232323;
    --frontground-color:#202020;
}

body {
    /* font-size: 20cm; */
    z-index: 1;
    font-family: clean;
    background-color: var(--background-color);
    color: var(--font-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

p{
    margin-top: 0mm;
    margin-bottom: 2mm;
}

sws{
    display: block;
    margin-top: 2mm;
    margin-bottom: 2mm;
    word-spacing:1cm;
}

ywy{
    display: flex;
    justify-content: space-between;
}

.board{
    display: block;
    text-align:center;
    position: relative;
    aspect-ratio: 3/2;
    width: 100%;
    font-size: 1cm;
}

.pin{
    position: absolute;
    width: 5%;
}

.larrow{
    float: left;
}
.rarrow{
    float: right;
}
.larrow,.rarrow{
    width: 10%;
    height: 10%;
    margin:auto;
}

.img50{
    aspect-ratio: 1/1;
    width: 50%;
    margin-bottom: 0mm;
    display: block;
}

@keyframes picIn{
    from{width: 0%;}
    to{width: 40%;}
}
@keyframes picOut{
    form{width: 40%;}
    to{width: 0%;}
}
.img40{
    margin: 0mm;
    display: block;
    width: 40%;
}
.img40h{
    margin: 0mm;
    display: block;
    width: 0%;
}
.img40in{
    margin: 0mm;
    display: block;
    animation-name: picIn;
    animation-duration: 300ms;
}
.img40away{
    margin: 0mm;
    display: block;
    animation-name: picOut;
    animation-duration: 300ms;
}

.emoji{
    vertical-align: middle;
    height: 1cm;
    position: relative;
    top: -0.2cm;
}

.input-box {
    display: block;
    margin-top: 2mm;
    margin-bottom: 2mm;
    margin-left: auto;
    margin-right: auto;
    height: 1cm;
    width: 4cm;
    background-color: var(--frontground-color);
    border-color: var(--font-color);
    font-size: 1cm;
    font-family: clean;
    outline: none;
    border: solid;
    border-radius: 2mm;
    color: var(--font-color);
}

.title{
    font-size: 1cm;
}

xwx{
    /* position: sticky;
    top: 0;
    left: 0; */
    display: block;
    width: 100%;
    background-color: var(--frontground-color);
    height: 2.6cm;
}



.logo{
    position: relative;
    margin-top: 3mm;
    margin-left: 3mm;
    left: 5vw;
    width: 2cm;
}

twt{
    font-size: 1cm;
}

uwu{
    overflow:hidden;
    font-size: 0.7cm;
    display: block;
    background-color: var(--border-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2mm;
    text-align: center;
}

owo{
    font-size: 1.2cm;
    width: 100%;
    display: block;
    margin-top: 1cm;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (orientation: landscape) {/*h<w*/
    uwu{
        width: 80vh;
    }
  }
  
  @media (orientation: portrait) {/*h>w*/
    uwu{
        width: 90vw;
    }
  }