<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCPP story</title>
    <link rel="stylesheet" href="/style/styles.css">
    <link rel="stylesheet" href="/style/extended.css">
</head>
<body class="box dark-theme vertical linked">
    <!-- partially modifiable content -->
    <div class="card wide">
        <span class="header">Title</span>
        <p class="text">date</p>
    </div>
    <!-- fully modifieable content -->
    <div class="card wide">
        <span class="label">label</span>
            <p class="text">
                some text and image
            </p>
            <img src="/obrazki/other/publicdomain.png" class="card-image">
        <p class="sign">~luk</p>
    </div>
    <!-- constant content -->
    <div class="card linked flex wide linked">
        <button class="btn text disabled" id="prev" onclick="prevBlog()" >Previous</a></button>
        <button class="btn text" onclick="window.location = '/'" >Home Page</a></button>
        <button class="btn text disabled" id="next" onclick="nextBlog()">Next</a></button>
    </div>
</body>
<script src="../blog.js"></script>
</html>